
@{
    ViewBag.Title = "Yeni Üye";
}
@section head{
    <style>

        #hata{
            color:red;
            font-size:16px;
        }

    </style>
    
    }
 <div class="row">
    <div class="col-md-12">
        <div class="block">
            <div class="block-heading">
                <div class="main-text h2">
                    Üye Ekleme Sayfası
                </div>
                <div class="block-controls">
                    <a href="/Kullanici/Index"><span aria-hidden="true" class="icon icon-cross icon-size-medium block-control-remove"></span></a>
                    <span aria-hidden="true" class="icon icon-arrow-down icon-size-medium block-control-collapse"></span>
                </div>
            </div>
            <div class="block-content-outer">
                <div class="block-content-inner">
                    <form action="/Kullanici/Ekle" method="post" role="form">
                        <div class="form-group">
                            <label for="exampleInputEmail1">Kullanıcı Adı :</label>
                            <input type="text" name="KullaniciAdi" class="form-control" id="exampleInputEmail1" placeholder="Kullanıcı Adı Giriniz...">
                        </div>
                        <div class="form-group">
                            <label for="exampleInputPassword1">Parola :</label>
                            <input type="password" name="Parola" class="form-control" id="exampleInputPassword1" placeholder="Parola Giriniz...">
                        </div>
                        <div class="form-group">
                            <label for="exampleInputEmail1">E-Mail :</label>
                            <input type="text" name="Email" class="form-control" id="exampleInputEmail1" placeholder="E-Mail Giriniz...">
                        </div>
                        <div class="form-group">
                            <label for="exampleInputEmail1">Gizli Soru :</label>
                            <input type="text" name="GizliSoru" class="form-control" id="exampleInputEmail1" min="3" placeholder="Gizli Soru Giriniz...">
                        </div>
                        <div class="form-group">
                            <label for="exampleInputEmail1">Gizli Cevap :</label>
                            <input type="text" name="GizliCevap" class="form-control" id="exampleInputEmail1" placeholder="Gizli Cevap Giriniz...">
                        </div>
                        <button type="submit" class="btn btn-primary">Ekle</button>
                    </form>
                    <span class="hata">@ViewBag.Mesaj</span>
                </div>
            </div>
        </div>
    </div>
</div>

